/* Error: Undefined mixin.
 *    ,
 * 14 | /   @include abstracts.breakpoint(lg) {
 * 15 | |     --header-bg-color: #171c28;
 * 16 | |     --header-shadow-color: #00000033;
 * 17 | \   }
 *    '
 *   scss\theme\_dark.scss 14:3  @forward
 *   scss\theme\_index.scss 1:1  @use
 *   scss\main.scss 2:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 14 \2502  \250c    @include abstracts.breakpoint(lg) {\a 15 \2502  \2502      --header-bg-color: #171c28;\a 16 \2502  \2502      --header-shadow-color: #00000033;\a 17 \2502  \2514    }\a    \2575 \a   scss\\theme\\_dark.scss 14:3  @forward\a   scss\\theme\\_index.scss 1:1  @use\a   scss\\main.scss 2:1          root stylesheet";
}
