html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(96%) sepia(0%) saturate(14%)
    hue-rotate(250deg) brightness(103%) contrast(105%);

  --body-bg: #292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: #00000033;
  --top-act-group-separate: #ededf6;
}
