@use "../abstracts";

html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(96%) sepia(0%) saturate(14%) hue-rotate(250deg) brightness(103%)
    contrast(105%);

  --body-bg: #292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: #00000033;
  --top-act-group-separate: #ededf6;

  @include abstracts.screen(lg) {
    --header-bg-color: #171c28;
    --header-shadow-color: #00000033;
  }

  // Dropdown
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow-color: #171c2866;
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(16%) sepia(8%) saturate(1558%) hue-rotate(186deg)
    brightness(96%) contrast(87%);
  --top-menu-border-color: #171c28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(10%) saturate(2542%) hue-rotate(181deg)
    brightness(100%) contrast(95%);

  // Sidebar
  --sidebar-bg: #292e39;
  --sidebar-shadow: #171c2866;
}
