@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(26%) saturate(1460%) hue-rotate(210deg) brightness(93%)
    contrast(96%);

  --body-bg: #f6f6f6;
  --header-bg-color: #eee;
  --footer-bg-color: var(--header-bg-color);

  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: #ededf633;
  --top-act-group-separate: #ededf6;

  @include abstracts.screen(lg) {
    --header-bg-color: #fff;
    --header-shadow-color: #ededf633;
  }

  // Dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: #c8c8c866;
  --top-menu-border-color: #d2d1d6;

  // Sidebar
  --sidebar-bg: #fff;
  --sidebar-shadow: #c8c8c866;

  // Category item
  --cate-item-bg: #eee;
  --cate-item-thumb-bg: #fff;
  --cate-item-title-color: #000;

  @include abstracts.screen(md) {
    --cate-item-bg: #fff;
  }

  // Buttons
  --filter-btn-color: #6c6c72;
  --filter-btn-bg: #fff;

  // Product card
  --product-card-shadow: #ededf633;
  --product-card-bg: #fff;

  // Filter form
  --filter-form-bg: #fff;
  --filter-form-shadow: #c8c8c866;
  --filter-form-tag-bg: #f8f8fb;
}
